<div class="navbar">
    <h2>SCRAPED A LAYER OFF OF </h2>
    <img src="/images/theonionlogo.png" alt="the onion logo">
</div>

<div class="title-area">
<h1>The Parfait's Layers</h1>
</div>
<div class="lower">
    <div class="left">
        <button>Peel New Layers</button>
        <button>Clear</button>
        <a href="/saved"></a>
        <a href="/"></a>
    </div>
<div class="right">

</div>
</div>
