<div class="title-area">
    <hr>
    <h1>THE PARFAIT</h1>
    <hr>
</div>
<div class="lower-bar">
    <div class="left-side">
        <div class="left-side-top">
            <div class="onion-logo">
                <h2>SCRAPED A LAYER FROM </h2>
                <img class="onion-image" src="/images/theonionlogo.png" alt="the onion logo">
            </div>
        </div>
        <div class="left-side-bottom">
            <div class="donkey-image-wrap">
                <img class="donkey-image" src="/images/donkey.jpg" alt="donkayyy">
            </div>

            <div class="button-section">
                <button class="button">GET NEW</button>
                <button class="button">CLEAR</button>
                <button class="button">SAVED</button>
                <button class="button">HOME</button>
            </div>
        </div>
    </div>
    <div class="right">
        <h3>article display</h3>

        <div class="article-wrap">
            <img src="" alt="">
            <div class="article-content">
                <h2>"<span class="title">Title</span>" By: <span class="author">Author</span></h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi officia modi nisi reprehenderit explicabo animi. Fugit repudiandae vitae, eum ducimus expedita repellat atque nemo laudantium magnam pariatur, ipsam sit perspiciatis.</p>
            </div>
            <a href="/save"><img src="" alt="Star"></a>
            
            <button></button>

        </div>
    </div>
</div>