<div class="title-area">
    <hr>
    <h1> Desert Life </h1>
    <hr>
</div>
<div class="lower-bar">
    <div class="left-side">
        <div class="left-side-top">
            <div class="onion-logo">
                <h2> Arts & Culture From </h2>
                <img class="onion-image" src="/images/newtimeslogo.png" alt="the onion logo">
            </div>
        </div>
        <div class="left-side-bottom">
            <div class="donkey-image-wrap">
                <img class="donkey-image" src="/images/artsandculture.png" alt="donkayyy">
            </div>

            <div class="button-section">
                <a href="/scrape"><button class="home button"> SCRAPE </button></a>
                <button class="get-new button"> CHECK NEW</button>
                <a href="/"><button class="clear button"> CLEAR </button></a>
                <button class="saved button"> SAVED </button>
            </div>
        </div>
    </div>
    <div class="article-display">
        <img class="phoenix-image" src="/images/phoenix.jpg" alt="cityOfPhoenix">
    </div>
</div>