body {
    background-color:rgb(206, 247, 206);
    display:flex;
    flex-direction: column;
}

.navbar {
    display:inline-flex;
    flex-direction: row;
    position:fixed;
    height: 8%;
}
.navbar img {
    height:100%;
}
.title-area {
    font-size:2.5rem;
    height:15%;
    background-color: rgba(0,0,0,0.5);
}
.lower{
flex-direction: row;
}

.left{
flex-direction:column;
}

.right {
flex-direction: column;
}
